* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100vh;
  background-color: #f3feff;
}

.container1,.container2 {
  width:300px;
  height:210px;
  border: 2px solid #99cbe8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.green-boxes,
.blue-boxes,
.yellow-boxes {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.green,
.blue,
.yellow {
  width:60px;
  height: 30px;
  border-radius: 5px;
}

.green {
  background-color: #7fca74;
}

.blue {
  background-color: #b8c4e5;
}

.yellow {
  background-color: #fcff55;
}

@media (max-width:768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}